<%= simple_form_for(@invoice) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.input :tot_hours, :value => @tot_hours, :as => :string, label:'Total Hours Worked' %>
	  <%= f.input :cost_per_hour, label:"Cost per hour (€)", :as => :string %>
    <%= f.input :description %>
    <%= f.hidden_field :customer_id, :value => @customer.id %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
