
<h1>Invoices (Customer: <%= @customer.name %>)</h1>

<table>
  <thead>
    <tr>
      <th>Total Hours Worked</th>
      <th>Cost per hour</th>
      <th>Description</th>
      <th>Invoice Amount</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.tot_hours %></td>
        <td><%= invoice.cost_per_hour %></td>
        <td><%= invoice.description %></td>
	<td><%= (invoice.tot_hours*invoice.cost_per_hour).to_f %>€</td>
        <td><%= invoice.created_at %></td>
        <td><%= link_to 'Show', customer_invoice_path(invoice.customer,invoice) %></td>
        <td><%= link_to 'Edit', edit_customer_invoice_path(invoice.customer,invoice) %></td>
        <td><%= link_to 'Destroy', customer_invoice_path(invoice.customer,invoice), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>
