
<p>
  <strong>Total Hours Worked:</strong>
  <%= @invoice.tot_hours %>
</p>

<p>
  <strong>Cost per hour:</strong>
  <%= @invoice.cost_per_hour %>
</p>

<p>
  <strong>Invoice Amount:</strong>
  <%= (@invoice.tot_hours*@invoice.cost_per_hour).to_f %>€
</p>

<p>
  <strong>Description:</strong>
  <%= @invoice.description %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.created_at %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', root_path %>
