<%= simple_form_for(@record) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :hours %>
    <%= f.input :description %>
    <%= f.hidden_field :project_id, :value => @project.id %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
