
<h1>Records for: <%= @project.name %></h1>

<table>
  <thead>
    <tr>
      <th>Hours</th>
      <th>Description</th>
      <th>Project</th>
      <th>Record Date </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.hours %></td>
        <td><%= record.description %></td>
	<td><%= record.project.name %></td>
        <td><%= record.created_at %></td>
        <td><%= link_to 'Show', project_record_url(record.project,record) %></td>
        <td><%= link_to 'Edit', edit_project_record_path(record.project,record) %></td>
        <td><%= link_to 'Destroy', project_record_url(record.project,record), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %>
