<p>
  <strong>Hours:</strong>
  <%= @record.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<p>
  <strong>Project:</strong>
  <%= @record.project.name %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', root_path %>
