<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	  <%= f.input :name %>
	  <%= f.hidden_field :user_id, :value => current_user.id %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
