<% if current_user %>
  <h2>Your Customers:</h2>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
	<th># Invoices</th>
	<th></th>
      </tr>
    </thead>

    <tbody>
       <% @customers.each do |customer| %>
        <tr>
	 <td><%= link_to customer.name, customer_path(customer) %></td>
	 <td><%= link_to "#{customer.invoices.count}", customer_invoices_path(customer) %></td>
	 <td><% if !customer.projects.empty? %> <%= link_to '<button>Create Invoice For This Customer</button>'.html_safe, new_customer_invoice_path(customer) %> <% end %> </td>
	</tr>
      <% end %>
    </tbody>
  </table>
  <div style="float:left;"><%= link_to 'Create New Customer ', new_customer_path %></div>
  <div style="float:left;margin-left:5px;"><%= link_to '| Manage Customers', customers_path %></div>
  <br>
  <br>
  <% if !current_user.customers.empty? %>
  <h2>Your Projects:</h2>
  <table style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Customer</th>
        <th>Hours Spent</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
       <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project_path(project) %></td>
          <td><%= link_to project.customer.name, customer_path(project.customer) %></td>
          <td><%= link_to "#{project.records.sum(:hours)}", project_records_path(project) %></td>
          <td><%= link_to '<button>Add New Time Record</button>'.html_safe, new_project_record_path(project) %></td>
          <td><%= link_to '<button>Create Invoice For This Project</button>'.html_safe, new_project_invoice_path(project) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div style="float:left;"><%= link_to 'Create New Project ', new_project_path %></div>
  <div style="float:left;margin-left:5px;"><%= link_to '| Manage Projects', projects_path %></div>
  <br>
  <% else %> 
	  <div class="float:left;"><u>First create a customer, then you'll be able to create as many project you want!</u></div>
	  <br>
  <% end %>

<% else %>
  <div class="panel">
    <h1>Welcome to Timetrack!</h1>
    <p>A simple app to track time you spend working on your freelance projects.</p>
    <%= link_to "<button>Register</button>".html_safe, new_user_registration_path %>
    <%= link_to "<button>Login</button>".html_safe, new_user_session_path %>

  </div>

  <hr>

<% end %>
